:root {
  /* fonts */
  --body-font: 'Bitter', serif;
  --titles-font: 'Bitter', serif;
  --accent-text-font: 'Indie Flower', cursive;

  /* --------------------------------------------- */

  /* colors */
  /* main colors */
  --light-blue: hsl(194, 100%, 95%);
  --medium-blue: hsl(183, 100%, 36%);
  --strong--blue: hsl(194, 100%, 33%);

  /* creciendo en la diversidad */
  --bg-color-creciendo-en-la-diversidad: #cf3b5c;
  --txt-color-creciendo-en-la-diversidad: #fff;

  /* --------------------------------------------- */

  /* colors applied */
  /* txt colors */
  --txt-color-black: black;
  --txt-color-white: white;

  /* bg colors */
  --bg-header: var(--light-blue);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: hsl(201, 11%, 66%);
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  font-family: var(--body-font);
  color: var(--txt-color-black);
  background-color: #fff;
}

a {
  /* reset */
  text-decoration: none;
  color: inherit;
}

ul {
  /* reset */
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.section-title {
  text-transform: lowercase;
  font-size: 20px;
}

/* HEADER */
/* ****** */

.header {
  position: relative;
  overflow: hidden;

  height: 100vh;
  padding: 20px;

  /* para dar la ilusión de marco */
  background-image: linear-gradient(
      #fff 10px,
      transparent 10px calc(100vh - 10px),
      #fff calc(100vh - 10px)
    ),
    linear-gradient(
      to right,
      #fff 10px,
      var(--bg-header) 10px calc(100vw - 10px),
      #fff calc(100vw - 10px)
    );
  border-bottom: 2px solid var(--medium-blue);
}

.header-top {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.logo {
  margin: 0;
}

.header__img {
  /*  📌 aumentar el tamaño de la imagen jpg. 
      📌 a 400 px de alto al menos */
  height: 420px;

  position: absolute;
  left: -20px;
  bottom: 150px;
}

.header__texts {
  position: absolute;
  width: calc(100% - 40px);
  bottom: 0;
}

.header__pretitle,
.header__title {
  width: 100%;
}

.header__pretitle {
  font-family: var(--accent-text-font);
  font-size: 20px;
  margin-bottom: 5px;
}

.header__title {
  margin-top: 0;
}

.header__title--colored-text {
  color: var(--medium-blue);
}

/* MIS TRABAJOS */
.mis-trabajos {
  margin-bottom: 50px;
  padding: 10px;
}

/* POSTERS */
.poster--hover {
  display: block;
  width: 100%;

  background-color: aqua;

  text-align: center;
}

/* CRECIENDO EN LA DIVERSIDAD */

.creciendo-en-la-diversidad {
  position: relative;
  background-color: var(--bg-color-creciendo-en-la-diversidad);
  color: var(--txt-color-creciendo-en-la-diversidad);

  width: calc(100% + 20px);
  left: -10px;

  padding: 10px;
}

.creciendo-en-la-diversidad__poster,
.creciendo-en-la-diversidad__img,
.zaldiko__poster,
.infografia__poster,
.invitaciones__poster {
  width: 100%;
  margin-bottom: 10px;
}

.button--close-project {
  display: block;
  width: 15rem;
  text-align: center;

  /* ¿ no me funciona margin-left:auto; margin-right:auto; ? */
  margin: 0 auto;
  border-radius: 5px;

  padding: 10px;
  background-color: var(--txt-color-creciendo-en-la-diversidad);
  color: var(--bg-color-creciendo-en-la-diversidad);
}

/* ABOUT ME */

.about-me {
  position: relative;
  overflow: hidden;
  padding: 20px;

  /* para dar la ilusión de marco */
  background-image: linear-gradient(#fff 10px, transparent 10px),
    linear-gradient(to top, #fff 10px, transparent 10px),
    linear-gradient(
      to right,
      #fff 10px,
      var(--bg-header) 10px calc(100vw - 10px),
      #fff calc(100vw - 10px)
    );
  border-top: 1px solid var(--medium-blue);
}

.about-me__img {
  height: 400px;

  position: relative;
  left: -30px;
  top: 20px;
}

.about-me__contact-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
