:root {
  /* fonts */
  --body-font: 'Bitter', serif;
  --titles-font: 'Bitter', serif;
  --accent-text-font: 'Indie Flower', cursive;

  /* --------------------------------------------- */

  /* colors */
  /* main colors */
  --light-blue: hsl(194, 100%, 95%);
  --medium-blue: hsl(183, 100%, 36%);
  --strong--blue: hsl(194, 100%, 33%);

  /* --------------------------------------------- */

  /* colors applied */
  /* txt colors */
  --txt-color-black: hsl(0, 0%, 17%);
  --txt-color-white: hsl(0, 0%, 95%);

  /* bg colors */
  --bg-header: var(--light-blue);

  /* creciendo en la diversidad */
  --bg-color-creciendo-en-la-diversidad: hsl(347, 61%, 52%);
  --bg-gradient-creciendo-en-la-diversidad: linear-gradient(
    hsla(347, 63%, 57%, 0.75) 50%,
    hsla(346, 90%, 40%, 0.75)
  );
  --txt-color-creciendo-en-la-diversidad: var(--txt-color-white);

  /* zaldiko */
  --bg-color-zaldiko: hsl(4, 62%, 48%);
  --bg-gradient-zaldiko: linear-gradient(
    hsla(5, 70%, 59%, 0.75) 50%,
    hsla(4, 55%, 37%, 0.75)
  );
  --txt-color-zaldiko: var(--txt-color-white);

  /* infografía científica */
  --bg-color-infografia-cientifica: hsl(0, 0, 0);
  --bg-gradient-infografia-cientifica: linear-gradient(
    hsla(0, 0%, 50%, 0.75) 50%,
    hsla(0, 0%, 0%, 0.75)
  );
  --txt-color-infografia-cientifica: var(--txt-color-white);

  /* invitaciones bodas de plata */
  --bg-color-invitaciones-bodas: hsl(26, 100%, 20%);
  --bg-gradient-invitaciones-bodas: linear-gradient(
    hsla(27, 43%, 52%, 0.75) 50%,
    hsla(11, 19%, 33%, 0.75)
  );
  --txt-color-invitaciones-bodas: var(--txt-color-white);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: hsl(201, 11%, 66%);
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  font-family: var(--body-font);
  font-weight: 400;
  letter-spacing: 0.1px;

  color: var(--txt-color-black);
  background-color: #fff;
}

a {
  /* reset */
  text-decoration: none;
  color: inherit;
  position: relative;
}

ul {
  /* reset */
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

p {
  line-height: 1.5;
}

.section-title {
  text-transform: lowercase;
  font-size: 20px;
}

.link::after {
  content: '';

  display: block;
  width: 100%;
  height: 1.5px;
  background-color: var(--txt-color-black);
  opacity: 0.6;

  position: absolute;
  bottom: 1px;
  left: 0;
}

.link--white::after {
  background-color: var(--txt-color-white);
}

@media screen and (min-width: 1400px) {
  .link::after {
    opacity: 0.6;
    bottom: -1px;
    transition: opacity 100ms 20ms ease-in, height 100ms 20ms ease-in;
  }

  .link:hover::after {
    opacity: 1;
    height: 3px;
  }
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* HEADER */
/* ****** */

.header {
  position: relative;
  overflow: hidden;

  height: 100vh;
  padding: 20px;

  /* para dar la ilusión de marco */
  background-image: linear-gradient(
      #fff 10px,
      transparent 10px calc(100vh - 10px),
      #fff calc(100vh - 10px)
    ),
    linear-gradient(
      to right,
      #fff 10px,
      var(--bg-header) 10px calc(100vw - 10px),
      #fff calc(100vw - 10px)
    );
}

@media screen and (min-width: 1400px) {
  .header {
    height: 750px;
    padding: 40px;
    /* para dar la ilusión de marco */
    background-image: linear-gradient(#fff 20px, transparent 20px),
      linear-gradient(to top, #fff 20px, transparent 20px),
      linear-gradient(to right, #fff 20px, transparent 20px),
      linear-gradient(to left, #fff 20px, var(--bg-header) 20px);
  }
}

.header-top {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}

@media screen and (min-width: 1400px) {
  .header-top {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.menu__list {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 1400px) {
  .menu__list {
    gap: 40px;
  }
}

.logo {
  margin: 0;
}

.header__img {
  height: 420px;

  position: absolute;
  left: -20px;
  bottom: 150px;
}

@media screen and (min-width: 1400px) {
  .header__img {
    height: 535px;
    left: auto;
    right: 150px;
    bottom: 95px;
  }
}

.header__texts {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 1400px) {
  .header__texts {
    width: auto;
    bottom: 80px;
    left: 160px;
  }
}

.header__pretitle,
.header__title {
  width: 100%;
}

.header__pretitle {
  font-family: var(--accent-text-font);
  font-size: 20px;
  margin-bottom: 5px;
}
@media screen and (min-width: 1400px) {
  .header__pretitle {
    font-size: 22px;
    margin-bottom: 0;
  }
}

.header__title {
  margin-top: 0;
}

@media screen and (min-width: 1400px) {
  .header__title {
    margin-bottom: 0;
    font-size: 64px;
    max-width: 40rem;
  }
}

.header__title--colored-text {
  color: var(--medium-blue);
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* MIS TRABAJOS */
/* ************ */

.my-work {
  background-color: white;

  margin-bottom: 50px;
  padding: 10px;
  border-top: 2px solid var(--medium-blue);
}

@media screen and (min-width: 1400px) {
  .my-work {
    padding: 20px;
  }
}

.section-title__my-work {
  margin-left: 10px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1400px) {
  .section-title__my-work {
    margin-left: 140px;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.project-poster {
  position: relative;
}

.project-poster--hover {
  display: none;
}

.project-poster__poster-img {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 1400px) {
  .project-poster__poster-img {
    max-width: 1120px;
    margin: 0 140px 20px;
  }

  .project-poster--hover {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;

    height: 100%;
    width: 100%;
    max-width: 1120px;
    margin: 0 140px 20px;

    background-image: linear-gradient(
      hsla(0, 0%, 30%, 0.6) 50%,
      hsla(0, 0%, 0%, 0.6)
    );
    color: var(--txt-color-white);
  }

  .project-poster__title {
    font-size: 25px;
    margin-bottom: 0;
  }

  .project-poster__project-type {
    font-size: 14px;
    margin-top: 0;
  }

  .project-poster__poster-img:hover {
    cursor: pointer;
  }
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* DEFINICIÓN DE LOS PROYECTOS */

.project {
  margin-bottom: 10px;
}

.project-header__texts {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  margin-top: 30px;
}

@media screen and (min-width: 1400px) {
  .project-header__texts {
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 140px 50px;
  }
}

.project-header__title,
.project-header__project-type {
  margin: 0;
}

@media screen and (min-width: 1400px) {
  .project-header__title {
    font-size: 30px;
  }

  .project-header__project-type {
    font-size: 14px;
    font-weight: 300;
  }
}

.project-description {
  margin-bottom: 20px;
}

.project-first-description__texts {
  display: flex;
  flex-direction: column;

  padding-left: 10px;
  padding-right: 10px;
}

.project-description__credits {
  opacity: 0.6;
}

.project-header__img,
.project-description__img {
  width: 100%;
  margin-bottom: 10px;
}

.project-description__txt {
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 1400px) {
  .project-header__img,
  .project-description__img {
    margin-bottom: 20px;
  }

  .project-first-description__texts {
    padding: 50px;
    gap: 70px;
  }

  .project-first-description__txt,
  .project-description__credits {
    max-width: 30rem;
    margin: 0;
  }

  .project-description__txt {
    max-width: 30rem;
    margin: 90px auto;
  }

  .two-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
  }

  .two-col--reverse {
    flex-direction: row-reverse;
  }

  .two-col__col {
    width: calc(50% - 10px);
  }

  .project-description__txt--fichas-alumnado {
    order: 6;
  }
}

.button--close-project {
  display: block;
  width: 15rem;
  text-align: center;
  font-weight: 400;

  margin: 0 auto;
  border-radius: 5px;

  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--txt-color-creciendo-en-la-diversidad);
  color: var(--bg-color-creciendo-en-la-diversidad);
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* CRECIENDO EN LA DIVERSIDAD */

.project-description--diversidad {
  position: relative;
  background-color: var(--bg-color-creciendo-en-la-diversidad);
  color: var(--txt-color-creciendo-en-la-diversidad);
  letter-spacing: 0.2px;

  width: calc(100% + 20px);
  left: -10px;

  padding: 10px;
}

@media screen and (min-width: 1400px) {
  .project-description--diversidad {
    width: calc(100% + 40px);
    left: -20px;
    padding: 20px;
  }

  .project-poster--hover-diversidad {
    background-image: var(--bg-gradient-creciendo-en-la-diversidad);
  }

  /* colores del resto de proyectos */
  .project-poster--hover-zaldiko {
    background-image: var(--bg-gradient-zaldiko);
  }
  .project-poster--hover-infografia {
    background-image: var(--bg-gradient-infografia-cientifica);
  }
  .project-poster--hover-invitaciones {
    background-image: var(--bg-gradient-invitaciones-bodas);
  }
}

.hide {
  display: none;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* ABOUT ME */

.about-me {
  position: relative;
  overflow: hidden;
  padding: 20px;

  /* para dar la ilusión de marco */
  background-image: linear-gradient(#fff 10px, transparent 10px),
    linear-gradient(to top, #fff 10px, transparent 10px),
    linear-gradient(
      to right,
      #fff 10px,
      var(--bg-header) 10px calc(100vw - 10px),
      #fff calc(100vw - 10px)
    );
  border-top: 2px solid var(--medium-blue);
}

@media screen and (min-width: 1400px) {
  .about-me {
    min-height: 620px;
    padding: 40px 120px;
    /* para dar la ilusión de marco */
    background-image: linear-gradient(#fff 20px, transparent 20px),
      linear-gradient(to top, #fff 20px, transparent 20px),
      linear-gradient(to right, #fff 20px, transparent 20px),
      linear-gradient(to left, #fff 20px, var(--bg-header) 20px);
  }
}

.about-me__img {
  height: 400px;

  position: absolute;
  left: -10px;
  top: -40px;
}

@media screen and (min-width: 1400px) {
  .about-me__img {
    height: 550px;

    left: 40px;
    top: 20px;
  }
}

.about-me__texts {
  margin-top: 330px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1400px) {
  .about-me__texts {
    margin-top: 0;
    margin-bottom: 350px;
    max-width: 30rem;

    position: relative;
    top: 50px;
    left: 50%;
  }
}

.about-me__contact-links,
.about-me__contact-links-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 5px;
}

@media screen and (min-width: 1400px) {
  .about-me__contact-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-me__contact-links-sm {
    flex-direction: row;
    gap: 20px;
  }
}
