:root {
  /* fonts */
  --body-font: 'Bitter', serif;
  --titles-font: 'Bitter', serif;
  --accent-text-font: 'Indie Flower', cursive;

  /* --------------------------------------------- */

  /* colors */
  /* main colors */
  --light-blue: hsl(194, 100%, 95%);
  --medium-blue: hsl(183, 100%, 36%);
  --strong--blue: hsl(194, 100%, 33%);

  /* --------------------------------------------- */

  /* colors applied */
  /* txt colors */
  --txt-color-black: hsl(0, 0%, 17%);
  --txt-color-white: hsl(0, 0%, 95%);

  /* bg colors */
  --bg-header: var(--light-blue);

  /* creciendo en la diversidad */
  --bg-color-creciendo-en-la-diversidad: #cf3b5c;
  --txt-color-creciendo-en-la-diversidad: var(--txt-color-white);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: hsl(201, 11%, 66%);
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  font-family: var(--body-font);
  font-weight: 400;
  letter-spacing: 0.1px;

  color: var(--txt-color-black);
  background-color: #fff;
}

a {
  /* reset */
  text-decoration: none;
  color: inherit;
  position: relative;
}

ul {
  /* reset */
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

p {
  line-height: 1.5;
}

.section-title {
  text-transform: lowercase;
  font-size: 20px;
}

.link::after {
  content: '';

  display: block;
  width: 100%;
  height: 1.5px;
  background-color: var(--txt-color-black);
  opacity: 0.6;

  position: absolute;
  bottom: 1px;
  left: 0;
}

.link--white::after {
  background-color: var(--txt-color-white);
}

@media screen and (min-width: 1400px) {
  .link::after {
    opacity: 0.6;
    bottom: -1px;
    transition: opacity 100ms 20ms ease-in, height 100ms 20ms ease-in;
  }

  .link:hover::after {
    opacity: 1;
    height: 3px;
  }
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* HEADER */
/* ****** */

.header {
  position: relative;
  overflow: hidden;

  height: 100vh;
  padding: 20px;

  /* para dar la ilusi贸n de marco */
  background-image: linear-gradient(
      #fff 10px,
      transparent 10px calc(100vh - 10px),
      #fff calc(100vh - 10px)
    ),
    linear-gradient(
      to right,
      #fff 10px,
      var(--bg-header) 10px calc(100vw - 10px),
      #fff calc(100vw - 10px)
    );
}

@media screen and (min-width: 1400px) {
  .header {
    height: 750px;
    padding: 40px;
    /* para dar la ilusi贸n de marco */
    background-image: linear-gradient(#fff 20px, transparent 20px),
      linear-gradient(to top, #fff 20px, transparent 20px),
      linear-gradient(to right, #fff 20px, transparent 20px),
      linear-gradient(to left, #fff 20px, var(--bg-header) 20px);
  }
}

.header-top {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}

@media screen and (min-width: 1400px) {
  .header-top {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.menu__list {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 1400px) {
  .menu__list {
    gap: 40px;
  }
}

.logo {
  margin: 0;
}

.header__img {
  /*   aumentar el tama帽o de la imagen jpg. 
       a 400 px de alto al menos */
  height: 420px;

  position: absolute;
  left: -20px;
  bottom: 150px;
}

@media screen and (min-width: 1400px) {
  .header__img {
    height: 535px;
    left: auto;
    right: 150px;
    bottom: 95px;
  }
}

.header__texts {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 1400px) {
  .header__texts {
    width: auto;
    bottom: 80px;
    left: 160px;
  }
}

.header__pretitle,
.header__title {
  width: 100%;
}

.header__pretitle {
  font-family: var(--accent-text-font);
  font-size: 20px;
  margin-bottom: 5px;
}
@media screen and (min-width: 1400px) {
  .header__pretitle {
    font-size: 22px;
    margin-bottom: 0;
  }
}

.header__title {
  margin-top: 0;
}

@media screen and (min-width: 1400px) {
  .header__title {
    margin-bottom: 0;
    font-size: 64px;
    max-width: 40rem;
  }
}

.header__title--colored-text {
  color: var(--medium-blue);
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* MIS TRABAJOS */
/* ************ */

.my-work {
  background-color: white;

  margin-bottom: 50px;
  padding: 10px;
  border-top: 2px solid var(--medium-blue);
}

.section-title__my-work {
  margin-left: 10px;
  margin-bottom: 40px;
}

.project-poster {
  position: relative;
}

.project-poster--hover {
  display: none;
}

.project-poster__poster-img {
  width: 100%;
  margin-bottom: 10px;
}

/*
.project-poster--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
*/

.hide {
  display: none;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* DEFINICIN DE LOS PROYECTOS */

.project {
  margin-bottom: 10px;
}

.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  margin-top: 30px;
}

.project-header__title,
.project-header__project-type {
  margin: 0;
}

.project-description__credits {
  opacity: 0.6;
  padding: 0 10px 10px;
}

.project-description {
  margin-bottom: 20px;
}

.project-description__txt {
  padding: 20px 10px 10px;
}

.project-header__img,
.project-description__img {
  width: 100%;
  margin-bottom: 10px;
}

.button--close-project {
  display: block;
  width: 15rem;
  text-align: center;
  font-weight: 400;

  margin: 0 auto;
  border-radius: 5px;

  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--txt-color-creciendo-en-la-diversidad);
  color: var(--bg-color-creciendo-en-la-diversidad);
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* CRECIENDO EN LA DIVERSIDAD */

.project-description--diversidad {
  position: relative;
  background-color: var(--bg-color-creciendo-en-la-diversidad);
  color: var(--txt-color-creciendo-en-la-diversidad);
  letter-spacing: 0.2px;

  width: calc(100% + 20px);
  left: -10px;

  padding: 10px;
}

/* --------------------------------------------- */
/* --------------------------------------------- */

/* ABOUT ME */

.about-me {
  position: relative;
  overflow: hidden;
  padding: 20px;

  /* para dar la ilusi贸n de marco */
  background-image: linear-gradient(#fff 10px, transparent 10px),
    linear-gradient(to top, #fff 10px, transparent 10px),
    linear-gradient(
      to right,
      #fff 10px,
      var(--bg-header) 10px calc(100vw - 10px),
      #fff calc(100vw - 10px)
    );
  border-top: 2px solid var(--medium-blue);
}

@media screen and (min-width: 1400px) {
  .about-me {
    min-height: 620px;
    padding: 40px 120px;
    /* para dar la ilusi贸n de marco */
    background-image: linear-gradient(#fff 20px, transparent 20px),
      linear-gradient(to top, #fff 20px, transparent 20px),
      linear-gradient(to right, #fff 20px, transparent 20px),
      linear-gradient(to left, #fff 20px, var(--bg-header) 20px);
  }
}

.about-me__img {
  height: 400px;

  position: absolute;
  left: -10px;
  top: -40px;
}

@media screen and (min-width: 1400px) {
  .about-me__img {
    height: 550px;

    left: 40px;
    top: 20px;
  }
}

.about-me__texts {
  margin-top: 330px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1400px) {
  .about-me__texts {
    margin-top: 0;
    margin-bottom: 350px;
    max-width: 30rem;

    position: relative;
    top: 50px;
    left: 50%;
  }
}

.about-me__contact-links,
.about-me__contact-links-sm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 5px;
}

@media screen and (min-width: 1400px) {
  .about-me__contact-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-me__contact-links-sm {
    flex-direction: row;
    gap: 20px;
  }
}
